# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.suo
*.user

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env.production.local

# Backend
backend/vendor/
backend/.env
backend/storage/logs/
backend/storage/app/public/
backend/public/storage
